<div *ngIf="isLogedIn">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    data-toggle="tab" [routerLink]="['']">Home</a>
            </li>
            <li class=" nav-item">
                <a class="nav-link" routerLinkActive="active" data-toggle="tab" [routerLink]="['/listblog']">List
                    Blog</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="!isLogedIn">
    <div class="container">
        <app-login></app-login>
    </div>
</div>